.positive {
  color: #549019;
}

.negative {
  color: #B70000;
}

.neutral {
  color: #E86800;
}

.opal-title {
  font-size: 12px;
  font-weight: bold;
}

.opal-comment {
  font-size: 12px;
  font-weight: bold;
}

.opal-results {
  font-size: 10px;
}

.opal-node {
  font-size: 12px;
  font-weight: bold;
}

.opal-node-comments {
  font-size: 10px;
  font-weight: normal;
}