.opal-title {
  position: relative;
  left: 0;
}

.opal-bar {
  position: absolute;
  left: 69px;
  top: 5px;
  width: 50px;
  height: 20px;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
}

.opal-icon {
  position: absolute;
  top: 6px;
  left: 0;
}

.opal-node-block {
  position: relative;
  margin-bottom: 80px;
}

.opal-node-text {
  position: absolute;
  left: 0;
  top: 40px;
  width: 130px;
  text-align: center;
  line-height:15px;
}

.opal-comment-block {
  position: relative;
  margin-bottom: 50px;
}

.opal-comment {
  position: absolute;
  left: 40px;
  top: 10px;
}

.opal-results {
  position: absolute;
  top: 10px;
  left: 160px;
}